head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	title= head.title
	//-base(src=`${head.base}`)
	link(rel="stylesheet" href="css/main.min.css")
	script(src="js/jquery.min.js")
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="js/jquery.scrollTo.min.js")
	script(src="js/main.min.js" defer)
	include favicon
