section.grid-gallery.container-flex
	a.grid-gallery__col.grid-gallery__item(href="")
	.grid-gallery__col
		a.grid-gallery__row.grid-gallery__item(href="")
		a.grid-gallery__row.grid-gallery__item(href="")
	.grid-gallery__col
		a.grid-gallery__row.grid-gallery__item(href="")
		a.grid-gallery__row.grid-gallery__item(href="")
